{% extends "base/base.html" %}
{% block content %}

    <dialog class="p-20 border-2 w-[600px] border-primary" x-ref="modal">
        <form action=""
              method="post"
              class="flex flex-col items-center justify-center w-full gap-6">
            {% csrf_token %}
            <h2 class="text-xl font-bold text-center">ADD ADDRESS</h2>
            <div class="w-full">
                <label class="font-bold text-primary" for="address_line_1">FULL NAME*</label>
                <input class="w-full h-12 px-3 border-2 border-primary placeholder:text-secondary"
                       type="text"
                       name="name"
                       id="name"
                       required>
            </div>
            <div class="w-full">
                <label class="font-bold text-primary" for="address_line_1">ADDRESS LINE 1*</label>
                <input class="w-full h-12 px-3 border-2 border-primary placeholder:text-secondary"
                       type="text"
                       name="address_line_1"
                       id="address_line_1"
                       required>
            </div>
            <div class="w-full">
                <label class="font-bold text-primary" for="address_line_2">ADDRESS LINE 2</label>
                <input class="w-full h-12 px-3 border-2 border-primary placeholder:text-secondary"
                       type="text"
                       name="address_line_2"
                       id="address_line_2">
            </div>
            <div class="w-full">
                <label class="font-bold text-primary" for="city">CITY/REGION*</label>
                <input class="w-full h-12 px-3 border-2 border-primary placeholder:text-secondary"
                       type="text"
                       name="city"
                       id="city"
                       required>
            </div>
            <div class="w-full">
                <label class="font-bold text-primary" for="county">COUNTY*</label>
                <select class="w-full h-12 px-3 bg-white border-2 border-primary placeholder:text-secondary"
                        type="text"
                        name="county"
                        id="county"
                        required>
                    <option value="" disabled selected>Select...</option>
                    {% for county in counties %}<option value="{{ county.0 }}">{{ county.1 }}</option>{% endfor %}
                </select>
            </div>
            <div class="w-full">
                <label class="font-bold text-primary" for="eircode">EIRCODE*</label>
                <input class="w-full h-12 px-3 border-2 border-primary placeholder:text-secondary"
                       type="text"
                       name="eircode"
                       id="eircode"
                       required>
            </div>
            <button class="inline-block w-full h-12 text-center text-white bg-black md:px-0"
                    type="submit">SAVE ADDRESS</button>
        </form>
    </dialog>
    <div class="grid grid-flow-row grid-cols-1 gap-6 md:grid-cols-12">
        <div class="text-2xl font-bold border-b-2 col-span-full border-primary text-primary">
            <h2>SHIPPING ADDRESSES</h2>
        </div>
        <div x-on:click="$refs.modal.showModal()"
           class="flex flex-col items-center justify-center gap-4 p-12 border-2 border-primary md:col-span-4">
            <svg width="41"
                 height="40"
                 viewBox="0 0 41 40"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <rect x="2.25488" y="1.5" width="37" height="37" rx="18.5" fill="white" stroke="#111111" stroke-width="3" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5885 19.2766V11.915L19.5885 11.915L19.5885 19.2766H12.4219V21.2766H19.5885L19.5885 28.9363H21.5885V21.2766H29.0885V19.2766H21.5885Z" fill="#111111" />
            </svg>
            <h2 class="text-2xl font-bold">ADD ADDRESS</h2>
        </div>
        {% for address in addresses %}
            <div class="flex flex-col gap-4 p-12 leading-3 border-2 border-primary md:col-span-4">
                <h2 class="text-2xl font-bold">ADDRESS {{ forloop.counter }}</h2>
                <p>{{ address.name }}</p>
                <p>{{ address.address_line_1 }}</p>
                <p>{{ address.address_line_2 }}</p>
                <p>{{ address.city }}</p>
                <p>{{ address.county }}</p>
                <p>{{ address.eircode }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
