{% extends 'base/base.html' %}
{% load static %}
{% block metadesc %}
    Shop for the latest and boldest footware with our collection of AI generated products.
{% endblock metadesc %}
{% block title %}
    laced. | Shop the latest AI generated footware
{% endblock title %}
{% block content %}
    <div class="mb-12 sm:mb-0 sm:h-[40vh] md:h-[50vh] lg:min-h-[70vh] lg:h-[85vh] relative">
        <img class="absolute hidden translate-y-1/2 sm:block -right-1/2 xl:-right-1/3 -z-50 bottom-1/2"
             src="{% static 'home/landing-hero-image.webp' %}"
             alt="">
        <div class="flex w-full h-full overflow-visible sm:items-center">
            <div class="w-full text-center sm:text-left">
                <div class="text-2xl font-bold sm:text-4xl lg:text-7xl">
                    <span class="sm:inline">STAND OUT.</span><span>BE BOLD.</span>
                </div>
                <p class="mt-4 lg:text-xl text-md sm:w-3/5 xl:w-1/2">
                    Elevate your street fashion game with our exclusive collection of urban-inspired running gear.
                </p>
                <a href="{% url 'products' %}"
                   class="inline-block px-12 md:px-0 py-2 mt-4 text-center text-white bg-black md:w-1/6 max-w-[200px]">
                    <h1>SHOP</h1>
                </a>
            </div>
        </div>
    </div>
    <!-- FEATURED PRODUCTS -->
    <div class="w-full mb-4 text-2xl font-bold border-b-2 border-primary text-primary">
        <h2>FEATURED PRODUCTS</h2>
    </div>
    <div class="grid grid-cols-12 gap-4 mb-16">
        {% for product in featured_products %}
            <div class="col-span-12 sm:col-span-6 md:col-span-4">
                {% include 'partials/product-card.html' with product_id=product.id product=product product_images=product.productimage_set.all %}
            </div>
        {% endfor %}
    </div>
    <!-- SALE PRODUCTS -->
    <div class="w-full mb-4 text-2xl font-bold border-b-2 border-primary text-primary">
        <h2>OFFERS</h2>
    </div>
    <div class="grid grid-cols-12 gap-4 mb-16">
        {% for product in sale_products %}
            <div class="col-span-12 sm:col-span-6 md:col-span-4">
                {% include 'partials/product-card.html' with product_id=product.id product=product product_images=product.productimage_set.all %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}
