<dialog class="p-20 border-2 w-[600px] border-primary fixed"
        {% if isEditing %}id="edit-address-modal"{% endif %}
        x-ref="modal">
    <svg x-on:click="$refs.modal.close()"
         class="absolute cursor-pointer right-8 top-8 hover:stroke-secondary stroke-primary"
         width="27"
         height="27"
         viewBox="0 0 27 27"
         fill="none"
         xmlns="http://www.w3.org/2000/svg">
        <path class="" d="M2 2L25 25" stroke="" stroke-width="4" />
        <path class="" d="M25 2L2 25" stroke="" stroke-width="4" />
    </svg>
    <form {% if isEditing == True %}
              action="{% url "account_addresses" %}?edit={{ address.id }}"
          {% else %}
              action="{% url "account_addresses" %}"
          {% endif %}
          method="post"
          class="flex flex-col items-center justify-center w-full gap-6">
        {% csrf_token %}
        <h2 class="text-xl font-bold text-center">ADD ADDRESS</h2>
        <div class="w-full">
            <label class="font-bold text-primary" for="address_line_1">FULL NAME*</label>
            <input class="w-full h-12 px-3 border-2 border-primary placeholder:text-secondary"
                   type="text"
                   name="name"
                   id="name"
                   {% if isEditing %}value="{{ address.name }}"{% endif %}
                   required>
        </div>
        <div class="w-full">
            <label class="font-bold text-primary" for="address_line_1">ADDRESS LINE 1*</label>
            <input class="w-full h-12 px-3 border-2 border-primary placeholder:text-secondary"
                   type="text"
                   name="address_line_1"
                   id="address_line_1"
                   {% if isEditing %}value="{{ address.address_line_1 }}"{% endif %}
                   required>
        </div>
        <div class="w-full">
            <label class="font-bold text-primary" for="address_line_2">ADDRESS LINE 2</label>
            <input class="w-full h-12 px-3 border-2 border-primary placeholder:text-secondary"
                   type="text"
                   name="address_line_2"
                   {% if isEditing %}
                       {% if address.address_line_2 %}value="{{ address.address_line_2 }}"{% endif %}
                   {% endif %}
                   id="address_line_2">
        </div>
        <div class="w-full">
            <label class="font-bold text-primary" for="city">CITY/REGION*</label>
            <input class="w-full h-12 px-3 border-2 border-primary placeholder:text-secondary"
                   type="text"
                   name="city"
                   {% if isEditing %}value="{{ address.city }}"{% endif %}
                   id="city"
                   required>
        </div>
        <div class="w-full">
            <label class="font-bold text-primary" for="county">COUNTY*</label>
            <select class="w-full h-12 px-3 bg-white border-2 border-primary placeholder:text-secondary"
                    type="text"
                    name="county"
                    id="county"
                    required>
                <option value="" disabled>Select...</option>
                {% for county in counties %}
                    {% if county.0 == address.county %}
                        <option selected value="{{ county.0 }}">{{ county.1 }}</option>
                    {% else %}
                        <option value="{{ county.0 }}">{{ county.1 }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="w-full">
            <label class="font-bold text-primary" for="eircode">EIRCODE*</label>
            <input class="w-full h-12 px-3 border-2 border-primary placeholder:text-secondary"
                   type="text"
                   name="eircode"
                   id="eircode"
                   pattern="[A-Za-z0-9]{3} [A-Za-z0-9]{4}"
                   title="Please enter the format as XXX XXXX, where X can be any letter or digit."
                   {% if isEditing %}value="{{ address.eircode }}"{% endif %}
                   required>
        </div>
        <button class="inline-block w-full h-12 text-center text-white bg-black md:px-0"
                type="submit">SAVE ADDRESS</button>
    </form>
</dialog>
{% if isEditing %}
    <script type="text/javascript">document.querySelector('#edit-address-modal').showModal();</script>
{% endif %}
