{% load static %}
<footer class="h-[340px] grid text-base lg:text-xl">
    <div class="container flex flex-wrap justify-between">
        <div class="flex flex-col justify-between w-full gap-8 py-12 border-t-2 sm:gap-0 sm:flex-row border-primary">
            <div class="flex flex-col justify-between flex-1">
                <div class="flex flex-col gap-3">
                    <a href="#">Contact</a>
                    <a href="#">About</a>
                    <a href="#">Terms & Conditions</a>
                </div>
                <div>
                    <p class="mt-4 mb-2 font-bold sm:mt-0">Subscribe to our email offers</p>
                    <div class="relative w-[300px]">
                        <input type="text"
                               name="email"
                               id="newsletter-email"
                               class="w-full h-12 px-3 border-2 border-primary placeholder:text-secondary"
                               placeholder="Email">
                        <div class="absolute top-0 right-0 w-12 h-12">
                            <div class="flex items-center justify-center w-full h-full">
                                <svg width="22"
                                     height="22"
                                     viewBox="0 0 22 22"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <line x1="-8.74228e-08" y1="11" x2="20.7778" y2="11" stroke="black" stroke-width="2" />
                                    <line x1="21.2929" y1="11.7071" x2="10.2929" y2="0.707106" stroke="black" stroke-width="2" />
                                    <line y1="-1" x2="13.8279" y2="-1" transform="matrix(-0.707107 0.707107 0.707107 0.707107 20.7778 12.2227)" stroke="black" stroke-width="2" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-between flex-1 gap-4 sm:gap-0 sm:items-end">
                <div class="flex flex-col gap-6 sm:items-end">
                    <div class="flex gap-4 lg:gap-8">
                        <img class="w-8 lg:w-auto"
                             src="{% static 'base/portfolio-link.svg' %}"
                             alt="Link to personal portfolio">
                        <img class="w-8 lg:w-auto"
                             src="{% static 'base/github-link.svg' %}"
                             alt="Link to GitHub profile">
                        <img class="w-8 lg:w-auto"
                             src="{% static 'base/linkedin-link.svg' %}"
                             alt="Link to LinkedIn profile">
                        <img class="w-8 lg:w-auto"
                             src="{% static 'base/facebook-link.svg' %}"
                             alt="Link to project Facebook marketing page">
                    </div>
                    <div>
                        <img width="80" src="{% static 'base/laced-logo.svg' %}" alt="">
                    </div>
                </div>
                <p class="font-sm">
                    A Django project by <span class="font-bold">Carl Murray</span>
                </p>
            </div>
        </div>
    </div>
</footer>
