{% load static %}
<header class="h-[90px] flex items-center bg-white shadow-xl">
    <nav class="container flex items-center justify-between">
        <!-- HOME LOGO -->
        <div>
            <a href="{% url 'home' %}">
                <img src="{% static 'base/laced-logo.svg' %}"
                     alt="Brand logo spelling the word 'laced' in Courier Prime typeface">
            </a>
        </div>
        <!-- NAV LINKS -->
        <ul class="flex items-center gap-8 text-xl">
            <li class="hidden md:block">
                <a href="{% url 'products' %}">SHOP</a>
            </li>
            <li class="hidden md:block">
                <a href="#">ABOUT</a>
            </li>
            <li class="hidden md:block">
                <a href="#">CONTACT</a>
            </li>
            <!-- SEARCH -->
            <li>
                <a href="#">
                    <svg width="22"
                         height="23"
                         viewBox="0 0 22 23"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17 9.5C17 13.6421 13.6421 17 9.5 17C5.35786 17 2 13.6421 2 9.5C2 5.35786 5.35786 2 9.5 2C13.6421 2 17 5.35786 17 9.5ZM14.6537 17.4819C13.1692 18.4424 11.3997 19 9.5 19C4.25329 19 0 14.7467 0 9.5C0 4.25329 4.25329 0 9.5 0C14.7467 0 19 4.25329 19 9.5C19 12.1233 17.9367 14.4983 16.2176 16.2174L21.0001 20.9999C21.3906 21.3904 21.3906 22.0236 21.0001 22.4141C20.6096 22.8047 19.9764 22.8047 19.5859 22.4141L14.6537 17.4819Z" fill="black" />
                    </svg>
                </a>
            </li>
            <!-- USER CONTROLS -->
            <li x-data="{open:false}"
                @mouseenter="open = !open"
                @mouseleave="open = !open"
                class="relative z-50">
                <a href="#">
                    <svg width="27"
                         height="37"
                         viewBox="0 0 27 37"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.28527 27.2248C2.51245 21.3538 7.53743 17 13.5 17C19.4626 17 24.4876 21.3538 25.7147 27.2248C25.894 28.0827 25.1768 29 24 29H3C1.82317 29 1.10596 28.0827 1.28527 27.2248Z" stroke="black" stroke-width="2" />
                        <circle cx="13.5" cy="9.5" r="5.5" stroke="black" stroke-width="2" />
                    </svg>
                </a>
                <!-- USER CONTROLS DROPDOWN CONTAINER -->
                <div x-cloak
                     x-show="open"
                     class="absolute px-6 py-4 text-sm font-bold text-center translate-x-1/2 bg-white border-2 border-primary right-1/2">
                    <ul class="flex flex-col justify-center">
                        {% if request.user.is_authenticated %}
                            <li>
                                <a class="block p-1 underline transition-all hover:decoration-primary decoration-2 decoration-transparent underline-offset-4"
                                   href="{% url 'logout' %}">LOGOUT</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="block p-1 underline transition-all hover:decoration-primary decoration-2 decoration-transparent underline-offset-4"
                                   href="{% url 'login' %}">LOGIN</a>
                            </li>
                            <li>
                                <a class="block p-1 underline transition-all hover:decoration-primary decoration-2 decoration-transparent underline-offset-4"
                                   href="{% url 'signup' %}">SIGNUP</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            <!-- SHOPPING BAG -->
            <li class="relative">
                <a href="{% url 'cart' %}">
                    <svg width="22"
                         height="37"
                         viewBox="0 0 22 37"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7 6C7 3.79086 8.79086 2 11 2C13.2091 2 15 3.79086 15 6V7H7V6ZM5 9V11.5C5 12.0523 5.44772 12.5 6 12.5C6.55228 12.5 7 12.0523 7 11.5V9H15V11.5C15 12.0523 15.4477 12.5 16 12.5C16.5523 12.5 17 12.0523 17 11.5V9H19C19.5523 9 20 9.44772 20 10V27C20 27.5523 19.5523 28 19 28H3C2.44772 28 2 27.5523 2 27V10C2 9.44772 2.44772 9 3 9H5ZM5 7V6C5 2.68629 7.68629 0 11 0C14.3137 0 17 2.68629 17 6V7H19C20.6569 7 22 8.34315 22 10V27C22 28.6569 20.6569 30 19 30H3C1.34315 30 0 28.6569 0 27V10C0 8.34315 1.34315 7 3 7H5Z" fill="black" />
                    </svg>
                    <div id="cart-counter-badge"
                         class="w-5 h-5 text-center text-white flex items-center justify-center rounded-full bg-primary text-[10px] absolute -right-3 font-bold -top-1 bg-red-700">
                        {% if cart_total_quantity > 99 %}
                            99+
                        {% else %}
                            {{ cart_total_quantity }}
                        {% endif %}
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</header>
