{% load static %}
<header class="border-2 h-[90px] flex items-center">
    <nav class="flex container justify-between border-2 items-center">
        <div>
            <img src="{% static 'base/laced-logo.svg' %}"
                 alt="Brand logo spelling the word 'laced' in Courier Prime typeface">
        </div>
        <ul class="flex gap-8">
            <li>
                <a href="/">Shop</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>
</header>
