{% load static %}
<!DOCTYPE html>
<html lang="en" class="min-h-screen overflow-x-hidden text-primary" x-data="">
  {% include 'base/_head.html' %}
  <body class="flex flex-col justify-between min-h-screen">
    {% include 'partials/header.html' %}
    <main class="relative flex flex-grow">
      <div class="container relative py-12">
        <!-- MESSAGES -->
        {% if messages %}
          {% for message in messages %}
            <div x-data="{open:false}"
                 x-show="open"
                 x-transition.duration.600
                 x-cloak
                 x-init="setTimeout(()=>{open=true; setTimeout(()=>{open=false;}, 5000)}, 100)"
                 class="fixed px-12 py-2 font-bold text-white bg-black border-2 bottom-5 right-5 border-primary">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        <!-- CONTENT BLOCK -->
        {% block content %}
        {% endblock content %}
      </div>
    </main>
    {% include 'partials/footer.html' %}
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
