{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="grid w-full grid-cols-12 gap-4 lg:gap-16"
         hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <!-- PRODUCT IMG -->
        <div class="col-span-12 lg:col-span-6 border-2 aspect-square bg-cover bg-center bg-[url('{{ product.productimage_set.first.image.url }}')]">
        </div>
        <!-- PRODUCT DETAIL -->
        <div class="flex flex-col justify-between col-span-12 lg:col-span-6">
            <div>
                <h1 class="mb-2 text-3xl font-bold text-primary">{{ product.name }}</h1>
                <div class ="text-2xl">
                    {% if product.sale_price %}
                        <h2 class="inline-block mr-1 font-bold text-green-600">€{{ product.sale_price }}</h2>
                    {% endif %}
                    <h2 class=" text-primary {% if product.sale_price %}inline-block line-through text-secondary{% endif %}">
                        €{{ product.price }}
                    </h2>
                </div>
                <h2 class="mt-4 text-lg text-secondary">SKU: {{ product.sku }}</h2>
                <p class="my-8 text-xl text-primary">{{ product.description }}</p>
            </div>
            <div class="flex flex-col gap-4">
                <!-- SIZE SELECTION -->
                <ul class="grid grid-cols-6 gap-3 mb-6 md:grid-cols-8 lg:grid-cols-10 xl:grid-cols-12">
                    {% for variant in product.productvariant_set.all %}
                        {% if variant.quantity is not 0 %}
                            <li class="col-span-2">
                                <button data-selected
                                        data-variant="{{ variant.size }}"
                                        class="w-full py-4 text-center transition-all border-2 cursor-pointer border-primary hover:bg-primary hover:text-white">
                                    {{ variant.get_size_display }}
                                </button>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <form class="grid grid-cols-12 gap-3 mb-0" hx-post="{% url 'add_to_cart' %}" hx-swap="none">
                    <input type="hidden" name="product_id" value="{{product.id}}">
                    <input type="hidden" name="product_variant" required>
                    {% csrf_token %}
                    <!-- QTY SELECTION -->
                    <div class="flex justify-between col-span-12 bg-white border-2 sm:col-span-6 xl:col-span-4 border-primary text-primary"
                         x-data="{qty:1}">
                        <button class="flex items-center justify-center h-full text-white transition-all bg-black aspect-square hover:bg-secondary"
                                x-on:click="qty > 1 ? qty-- : ''">
                            <svg width="21"
                                 height="2"
                                 viewBox="0 0 21 2"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <line x1="0.0712891" y1="1" x2="20.1733" y2="1" stroke="white" stroke-width="2" />
                            </svg>
                        </button>
                        <!-- QTY INPUT -->
                        <input type="text"
                               name="quantity"
                               id="quantity"
                               class="w-full py-4 text-xl text-center text-primary"
                               x-text="qty"
                               x-bind:value="qty">
                        <button class="flex items-center justify-center h-full text-white transition-all bg-black aspect-square hover:bg-secondary"
                                x-on:click="qty < 10 ? qty++ : ''">
                            <svg width="21"
                                 height="20"
                                 viewBox="0 0 21 20"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8827 9V0H9.88265V9H0.82666V11H9.88265V20H11.8827V11H20.9287V9H11.8827Z" fill="white" />
                            </svg>
                        </button>
                    </div>
                    <!-- ADD TO BAG -->
                    <button class="col-span-12 py-4 font-bold text-white transition-all border-2 sm:col-span-6 xl:col-span-8 border-primary bg-primary hover:bg-secondary">
                        ADD TO BAG
                    </button>
                </form>
                <!-- ADD FAVOURITE -->
                {% include 'products/partials/_favourite_button.html' %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'products/js/product_detail_size_select.js' %}"></script>
{% endblock scripts %}
