{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="grid w-full grid-cols-12 gap-16">
        <!-- PRODUCT IMG -->
        <div class="col-span-12 lg:col-span-6 border-2 aspect-square bg-cover bg-center bg-[url('{{ product.productimage_set.first.image.url }}')]">
        </div>
        <!-- PRODUCT DETAIL -->
        <div class="flex flex-col justify-between col-span-12 lg:col-span-6">
            <div>
                <h1 class="mb-2 text-3xl font-bold text-primary">{{ product.name }}</h1>
                <div class ="text-2xl">
                    {% if product.sale_price %}
                        <h2 class="inline-block mr-1 font-bold text-green-600">€{{ product.sale_price }}</h2>
                    {% endif %}
                    <h2 class=" text-primary {% if product.sale_price %}inline-block line-through text-secondary{% endif %}">
                        €{{ product.price }}
                    </h2>
                </div>
                <h2 class="mt-4 text-lg text-secondary">SKU: {{ product.sku }}</h2>
                <p class="mt-8 text-xl text-primary">{{ product.description }}</p>
            </div>
            <div class="flex flex-col gap-4">
                <!-- SIZE SELECTION -->
                <ul class="grid grid-cols-8 gap-3 mb-6 lg:grid-cols-12">
                    <li class="col-span-2 py-4 text-center transition-all border-2 border-primary hover:bg-primary hover:text-white">
                        Size
                    </li>
                    <li class="col-span-2 py-4 text-center transition-all border-2 border-primary hover:bg-primary hover:text-white">
                        Size
                    </li>
                    <li class="col-span-2 py-4 text-center transition-all border-2 border-primary hover:bg-primary hover:text-white">
                        Size
                    </li>
                    <li class="col-span-2 py-4 text-center transition-all border-2 border-primary hover:bg-primary hover:text-white">
                        Size
                    </li>
                    <li class="col-span-2 py-4 text-center transition-all border-2 border-primary hover:bg-primary hover:text-white">
                        Size
                    </li>
                    <li class="col-span-2 py-4 text-center transition-all border-2 border-primary hover:bg-primary hover:text-white">
                        Size
                    </li>
                    <li class="col-span-2 py-4 text-center transition-all border-2 border-primary hover:bg-primary hover:text-white">
                        Size
                    </li>
                    <li class="col-span-2 py-4 text-center transition-all border-2 border-primary hover:bg-primary hover:text-white">
                        Size
                    </li>
                    <li class="col-span-2 py-4 text-center transition-all border-2 border-primary hover:bg-primary hover:text-white">
                        Size
                    </li>
                </ul>
                <div class="grid grid-cols-12 gap-3 mb-0">
                    <!-- QTY SELECTION -->
                    <div class="flex justify-between col-span-4 bg-white border-2 border-primary text-primary"
                         x-data="{qty:4}">
                        <button class="flex items-center justify-center h-full text-white bg-black aspect-square"
                                x-on:click="qty > 1 ? qty-- : ''">
                            <svg width="21"
                                 height="2"
                                 viewBox="0 0 21 2"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <line x1="0.0712891" y1="1" x2="20.1733" y2="1" stroke="white" stroke-width="2" />
                            </svg>
                        </button>
                        <!-- QTY INPUT -->
                        <input type="text"
                               name=""
                               id=""
                               class="w-full text-xl text-center text-primary"
                               x-text="qty"
                               x-bind:value="qty">
                        <button class="flex items-center justify-center h-full text-white bg-black aspect-square"
                                x-on:click="qty < 10 ? qty++ : ''">
                            <svg width="21"
                                 height="20"
                                 viewBox="0 0 21 20"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8827 9V0H9.88265V9H0.82666V11H9.88265V20H11.8827V11H20.9287V9H11.8827Z" fill="white" />
                            </svg>
                        </button>
                    </div>
                    <!-- ADD TO BAG -->
                    <button class="col-span-8 py-4 font-bold text-white border-2 border-primary bg-primary">ADD TO BAG</button>
                </div>
                <!-- ADD FAVOURITE -->
                <button class="flex items-center justify-center w-full col-span-12 gap-4 py-4 font-bold bg-white border-2 text-primary border-primary">
                    FAVOURITE
                    <svg width="20"
                         height="20"
                         viewBox="0 0 19 19"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1 6.54014C1 3.4804 3.1005 1 6 1C7.22698 1 8.75 2.31908 9.5 3.11053C10.25 2.31908 11.773 1 13 1C15.8995 1 18 3.4804 18 6.54014C18 8.27982 17.25 9.58328 16.0519 10.8476L9.5 18L2.94811 10.8476C1.86623 9.70593 1 8.27982 1 6.54014Z" stroke="black" stroke-width="2" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
{% endblock content %}
