<button {% if request.user.is_authenticated %}hx-post="{% url 'favourite' product.id %}" hx-swap="outerHTML"{% endif %}
        class="flex relative items-center transition-all justify-center w-full col-span-12 gap-4 py-4 font-bold bg-white border-2 text-primary border-primary hover:bg-primary hover:text-white {% if is_favourite %}fill-primary {% else %} fill-white{% endif %} stroke-primary hover:fill-white hover:stroke-white">
    {% if is_favourite %}
        REMOVE FAVOURITE
    {% else %}
        ADD FAVOURITE
    {% endif %}
    {% if request.user.is_anonymous %}
        <a href="{% url 'login' %}?next={{ request.path }}"
           class="absolute top-0 left-0 w-full h-full "></a>
    {% endif %}
    <svg width="20"
         height="20"
         viewBox="0 0 19 19"
         xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1 6.54014C1 3.4804 3.1005 1 6 1C7.22698 1 8.75 2.31908 9.5 3.11053C10.25 2.31908 11.773 1 13 1C15.8995 1 18 3.4804 18 6.54014C18 8.27982 17.25 9.58328 16.0519 10.8476L9.5 18L2.94811 10.8476C1.86623 9.70593 1 8.27982 1 6.54014Z" stroke-width="2" />
    </svg>
</button>
